@using SpotifyStalker.Model
@using Spotify.Object

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Metric.Name</h1>
        <p class="lead">@Metric.Content</p>

        <div class="alert alert-success">
            Track with Highest @Metric.Name: @WriteTrackInfo(Metric.Winner)
        </div>

        <div class="alert alert-danger">
            Track with Lowest @Metric.Name: @WriteTrackInfo(Metric.Loser)
        </div>

        <div class="alert alert-primary">
            Average @Metric.Name: @Metric.FormattedAverage
        </div>

        <div class="imageFrame" style="background-image: url('/assets/images/@Metric.ImageFile')">
            <svg>
                <line x1="@Metric.MarkerPosition" y1="0" x2="@Metric.MarkerPosition" y2="386" style="stroke:rgb(255,0,0);stroke-width:2" />
            </svg>
        </div>

    </div>
</div>


@code {

    [Parameter]
    public Metric Metric { get; set; }

    public string WriteTrackInfo((double MetricValue, Track Track)? input)
    {
        if (input == null) return "n/a";

        var s = new System.Text.StringBuilder();
        s.Append($"\"{input.Value.Track.Name}\", by ");

        int artistCount = 0;
        foreach(var artist in input.Value.Track.Artists) {
            if (artistCount > 0) s.Append(", ");
            s.Append(artist.Name);
            artistCount++;
        }

        s.Append($" ({input.Value.MetricValue})");

        return s.ToString();
    }

}