@using SpotifyStalker.Model
@using Spotify.Object

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Metric.Name</h1>
        <p class="lead">@Metric.Content</p>

        @if (Metric.Loser != null)
        {
            <div class="alert alert-success">
                Track with Lowest @Metric.Name <span class="badge badge-success">@Metric.Loser.FormattedValue</span>:
                <SpotifyLink Name="@Metric.Loser.Track.Name" Id="@Metric.Loser.Track.Id" Type="track" /> by @WriteArtistInfo(Metric.Loser)
            </div>
        }

        @if (Metric.Average.HasValue)
        {
            <div class="alert alert-warning">
                Average @Metric.Name for this user's playlists: <span class="badge badge-warning">@Metric.FormattedAverage</span>
            </div>
        }

        @if (Metric.Winner != null)
        {
            <div class="alert alert-danger">
                Track with Highest @Metric.Name <span class="badge badge-danger">@Metric.Winner.FormattedValue</span>: 
                <SpotifyLink Name="@Metric.Winner.Track.Name" Id="@Metric.Winner.Track.Id" Type="track" /> by @WriteArtistInfo(Metric.Winner)
            </div>
        }

        <div class="alert alert-dark">
            Global Average @Metric.Name (Across all of Spotify): <span class="badge badge-dark">@Metric.FormattedGlobalAverage</span>
        </div>

        <figure class="imageFrame" style="background-image: url('/assets/images/@Metric.ImageFile')">
            <svg>
                @if (Metric.Loser != null)
                {
                    <line class="lowest" x1="@Metric.Loser.MarkerPosition" y1="0" x2="@Metric.Loser.MarkerPosition" y2="386" />
                }
                @if (Metric.MarkerPosition != null)
                {
                    <line class="average" x1="@Metric.MarkerPosition" y1="0" x2="@Metric.MarkerPosition" y2="386" />
                }
                @if (Metric.GlobalAverageMarkerPosition != null)
                {
                    <line class="globalaverage" x1="@Metric.GlobalAverageMarkerPosition" y1="0" x2="@Metric.GlobalAverageMarkerPosition" y2="386" />
                }
                @if (Metric.Winner != null)
                {
                    <line class="highest" x1="@Metric.Winner.MarkerPosition" y1="0" x2="@Metric.Winner.MarkerPosition" y2="386" />
                }
            </svg>
        </figure>

    </div>
</div>


@code {

    [Parameter]
    public Metric Metric { get; set; }

    public string WriteArtistInfo(ExampleTrack input)
    {
        var s = new System.Text.StringBuilder();
        int artistCount = 0;
        foreach(var artist in input.Track.Artists) {
            if (artistCount > 0) s.Append(", ");
            s.Append(artist.Name);
            artistCount++;
        }
        return s.ToString();
    }

}