@page "/stalk"
@page "/stalk/{username}"

@using SpotifyStalker.Interface
@using Spotify.Model
@using Spotify.Object;
@using Spotify.Interface
@using SpotifyStalker.Model;
@using Microsoft.Extensions.Options;
@inject IApiQueryService ApiQueryService
@inject IStalkModelTransformer StalkModelTransformer;
@inject IOptions<SpotifyApiSettings> Options;
@inject IApiBatchQueryService<ArtistModelCollection> ArtistBatchQueryService;

<h1>Stalk</h1>

<div class="input-group mb-3" style="width: 500px;">
    <input type="text" placeholder="Spotify Username" class="form-control" @bind-value="ViewModel.UserName" />
    <div class="input-group-append">
        <button @onclick="QueryUserAsync" class="btn btn-primary">
            Search
        </button>
    </div>
</div>

@*Create an overall status indicator*@

@if (ViewModel.UserPlaylistResult == RequestStatus.NotFound)
{
    <h5 class="alert alert-danger" role="alert">
        User <span class="badge badge-danger">@ViewModel.UserName</span> not found!
    </h5>
}

@if (ViewModel.UserPlaylistResult == RequestStatus.Success && !ViewModel.Playlists.Display)
{
    <h5 class="alert alert-warning" role="alert">
        User <span class="badge badge-warning">@ViewModel.UserName exists</span>, but has no public playlists.
    </h5>
}

@if (ViewModel.Playlists.Display)
{
    <!--begin - row 1 -->
    <div class="row">

        <!--begin - playlists-->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Playlists&nbsp;
                    <CategoryProgress Processed="@ViewModel.Playlists.Processed" Style="bg-success" Total="@ViewModel.Playlists.Total" ProgressDisplay="@ViewModel.Playlists.ProgressDisplay" />
                </div>
                <div class="card-body">
                    <div class="scroll">
                        <table class='table table-striped' aria-labelledby="tableLabel">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Tracks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var playlist in StalkModelTransformer
                            .GetItems<PlaylistModel>(ViewModel)
                            .OrderByDescending(x => x.TrackInfo.Total)
                            .ToList())
                                {
                                    <tr>
                                        <td>@playlist.Name</td>
                                        <td>@(playlist.Tracks.Count()) / @(playlist.TrackInfo?.Total ?? 0)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end - playlists-->
        <!--begin - artists-->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Artists&nbsp;
                    <CategoryProgress Processed="@ViewModel.Artists.Processed" Style="bg-info" Total="@ViewModel.Artists.Total" ProgressDisplay="@ViewModel.Artists.ProgressDisplay" />
                </div>
                <div class="card-body">
                    <div class="scroll">
                        <table class='table table-striped' aria-labelledby="tableLabel">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Tracks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var artist in StalkModelTransformer
                            .GetItems<ArtistModel>(ViewModel)
                            .OrderByDescending(x => x.Tracks?.Count ?? 0))
                                {
                                    <tr>
                                        <td>@artist.Name</td>
                                        <td>@(artist.Tracks?.Count() ?? 0)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end - artists-->
        <!--end - genres-->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Genres&nbsp;
                    <CategoryProgress Processed="@ViewModel.Genres.Processed" Style="bg-warning" Total="@ViewModel.Genres.Total" ProgressDisplay="@ViewModel.Genres.ProgressDisplay" />
                </div>
                <div class="card-body">
                    <div class="scroll">
                        <table class='table table-striped' aria-labelledby="tableLabel">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Tracks</th>
                                    <th>Artists</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var genre in StalkModelTransformer
                            .GetItems<GenreModel>(ViewModel)
                            .OrderByDescending(x => x.Tracks.Count).ToList())
                                {
                                    <tr>
                                        <td>@genre.Name</td>
                                        <td>@(genre?.Tracks.Count ?? 0)</td>
                                        <td>@(genre?.Artists.Count ?? 0)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end - genres-->
    </div>
    <!--end - row 1 -->

    <p>&nbsp;</p>

    <!--begin - row 2 -->
    <div class="row">

        <!--begin - audio features-->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    Audio Features&nbsp;
                    <CategoryProgress Processed="@ViewModel.Tracks.Processed" Style="bg-danger" Total="@ViewModel.Tracks.Total" ProgressDisplay="@ViewModel.Tracks.ProgressDisplay" />
                </div>
                <div class="card-body">
                    <div>
                        <table class='table table-striped' aria-labelledby="tableLabel">
                            <thead>
                                <tr>
                                    <th>Metric</th>
                                    <th>Avg.</th>
                                    <th>Range</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var metric in StalkModelTransformer
                          .GetItems<Metric>(ViewModel).ToList())
                                {
                                    <tr>
                                        <td>
                                            <span href="#" class="badge badge-info">ℹ️</span> @metric.Name
                                        </td>
                                        <td align="right">@metric.FormattedAverage</td>
                                        <td align="right">@metric.NominalMin - @metric.NominalMax @metric.Unit</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end - audio features-->
        <!--begin - section 3-->
        <div class="col-sm-4">

        </div>
        <!--end - section 3-->

    </div>
    <!--end - row 2 -->

    @foreach (var metric in StalkModelTransformer.GetItems<Metric>(ViewModel).ToList())
    {
        <MetricComponent @ref="MetricComponent" Metric="@metric"></MetricComponent>
    }
}


@code {

    [Parameter]
    public string Username { get; set; }

    private MetricComponent MetricComponent { get; set; }

    StalkModel ViewModel = new StalkModel();

    protected override Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(Username))
        {
            ViewModel.UserName = Username;
            return QueryUserAsync();
        } else
        {
            return Task.CompletedTask;
        }
    }

    public async Task QueryUserAsync()
    {
        ViewModel = await StalkModelTransformer.ResetAsync(ViewModel);

        var (userPlaylistResult, userPlaylistModel) = await ApiQueryService.QueryAsync<UserPlaylistsModel>(ViewModel.UserName, Options.Value.Limits.UserPlaylist);

        ViewModel.UserPlaylistResult = userPlaylistResult;

        if (userPlaylistResult != RequestStatus.Success)
        {
            StateHasChanged();
            return;
        }

        ViewModel = StalkModelTransformer.RegisterPlaylists(ViewModel, userPlaylistModel.Playlists);

        StateHasChanged();

        if (!ViewModel.Playlists.Display) return;

        StateHasChanged();

        // at this point we only have playlist names and IDs.
        // get the track list for each playlist
        foreach (var playlist in ViewModel.Playlists.Items)
        {
            var (playlistResult, playlistResultModel) = await ApiQueryService.QueryAsync<PlaylistModel>(playlist.Value.Id, Options.Value.Limits.PlaylistTrack);

            // if playlist request failed or no tracks were found, continue to next
            if (playlistResult != RequestStatus.Success
                || (!playlistResultModel?.Items?.Any() ?? false)
                )
            {
                IncrementCount<PlaylistModel>();
                continue;
            }

            // add the tracks from the playlist api query to the list of all tracks
            foreach (var playlistModelTrack in playlistResultModel.Items)
                ViewModel = StalkModelTransformer.RegisterTrack(ViewModel, playlist.Value, playlistModelTrack.Track);

            IncrementCount<PlaylistModel>();
        }

        // add all artists to batch query service
        foreach(var artist in ViewModel.Artists.Items)
            ArtistBatchQueryService.AddToQueue(artist.Key);

        while(!ArtistBatchQueryService.QueueIsEmpty())
        {
            var (countOfItemsQueried, requestStatus, results) = await ArtistBatchQueryService.QueryAsync();
            IncrementCount<ArtistModel>(countOfItemsQueried);
            if (requestStatus != RequestStatus.Success) continue;

            // loop through results, assigning artist genres to artists
            foreach(var result in results.Artists)
            {
                // if result is null, that's odd, need to look into that
                if (string.IsNullOrEmpty(result?.Id)) continue;
                var artist = ViewModel.Artists.Items[result.Id];
                if (artist == null) continue;

                artist.Genres = result.Genres;
                StalkModelTransformer.RegisterGenre(ViewModel, artist);
            }
        }



        foreach (var track in ViewModel.Tracks.Items)
        {
            if (string.IsNullOrEmpty(track.Value.Id))
            {
                IncrementCount<Track>();
                continue;
            }

            var audioFeatures = await ApiQueryService.QueryAsync<AudioFeaturesModel>(track.Value.Id);
            if (audioFeatures.RequestStatus == RequestStatus.Success)
                ViewModel = StalkModelTransformer.RegisterAudioFeature(ViewModel, audioFeatures.Data);

            IncrementCount<Track>();
        }

    }

    private void IncrementCount<T>(int incrementBy = 1) where T : ISpotifyStandardObject
    {
        for(int x = 0; x <= incrementBy; x++)
            ViewModel = StalkModelTransformer.IncrementCount<T>(ViewModel);
        StateHasChanged();
    }

}
